- hosts: ault.cscs.ch
  gather_facts: yes
  tags: always
  tasks:
    - name: Getting available amd hosts..
      shell:
        cmd: sinfo -p amd -t idle -O NodeHost
      register: amd_host_raw
    - set_fact: 
        amd_hosts: "{{ amd_host_raw.stdout_lines[1:] | map('trim') | list }}" 
    - debug: 
        verbosity: 1
        msg: "{{ amd_hosts }}"
    - name: Getting available intel hosts..
      shell:
        cmd: sinfo -p intel -t idle -O NodeHost
      register: intel_host_raw
    - set_fact: 
        intel_hosts: "{{ intel_host_raw.stdout_lines[1:] | map('trim') | list }}"
    - debug: 
        verbosity: 1
        msg: "{{ intel_hosts }}"
    - name: Add server to group
      add_host:
        name: '{{ intel_hosts[-1] }}.cscs.ch'
        groups: ault_server
    - name: Add client to group
      add_host:
        name: '{{ intel_hosts[-2] }}.cscs.ch'
        groups: ault_client
    - name: Allocating resources..
      shell:
        cmd: "salloc -w {{ intel_hosts[-2:] | join(',') }} -t 15 --no-shell"
      register: job_raw
    - debug:
        var: job_raw
    - set_fact: 
        job_id: "{{ job_raw.stderr.split()[-1] }}"



- hosts: ault_runner
  gather_facts: yes
  tags: run, send, bw, send-bw-param, send-bw-param-unack
  tasks:
    - name: "Gather IP of server"
      set_fact:
        bench_server_ip: "{{ ansible_default_ipv4.address }}"
      delegate_to: ault_server
      run_once: true
    - debug:
        verbosity: 1
        msg: "Server ip: {{ bench_server_ip}}"
    - name: SendReceive - Bandwith
      include_role:
        name: bench/sendrcv
      vars:
        bench_type: "{{ item[0] }}"
        bench_srq: false
        bench_msg_size: "{{ item[1] }}"
        bench_batch_size: 1
        bench_unack: "{{ item[2] }}"
        bench_output: "sendRcv-bw-batch-size-{{ item[1] }}-unack-{{ item[2] }}-batch-1"
        bench_count: 2000000
      with_nested:
        - ["bw"]
        - [16]
        - [1, 4, 8, 16, 32, 64, 128]

- hosts: ault_runner
  gather_facts: yes
  tags: run, send, bw, send-bw-param, send-bw-param-batch
  tasks:
    - name: "Gather IP of server"
      set_fact:
        bench_server_ip: "{{ ansible_default_ipv4.address }}"
      delegate_to: ault_server
      run_once: true
    - debug:
        verbosity: 1
        msg: "Server ip: {{ bench_server_ip}}"
    - name: SendReceive - Bandwith
      include_role:
        name: bench/sendrcv
      vars:
        bench_type: "{{ item[0] }}"
        bench_srq: false
        bench_msg_size: "{{ item[1] }}"
        bench_batch_size: "{{ item[2] }}"
        bench_unack: "{{ item[3] }}"
        bench_output: "sendRcv-bw-batch-size-{{ item[1] }}-unack-{{ item[3] }}-batch-{{ item[2] }}"
        bench_count: 1048576
      with_nested:
        - ["bw"]
        - [16]
        - [1, 2, 4, 8, 16, 32, 64]
        - [64, 128, 256]




- hosts: ault_runner
  gather_facts: yes
  tags: run, send, bw, send-bw-batch
  tasks:
    - name: "Gather IP of server"
      set_fact:
        bench_server_ip: "{{ ansible_default_ipv4.address }}"
      delegate_to: ault_server
      run_once: true
    - debug:
        verbosity: 1
        msg: "Server ip: {{ bench_server_ip}}"
    - name: SendReceive - Bandwith
      include_role:
        name: bench/sendrcv
      vars:
        bench_type: "{{ item[0] }}"
        bench_srq: false
        bench_msg_size: "{{ item[1] }}"
        bench_batch_size: 8
        bench_unack: "{{ item[2] }}"
        bench_output: "sendRcv-bw-batch-size-{{ item[1] }}-unack-{{ item[2] }}-batch-8"
        bench_count: 1048576
      with_nested:
        - ["bw"]
        - [16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384] 
        - 256]

- hosts: ault_runner
  gather_facts: yes
  tags: run, send, bw, send-bw-seq
  tasks:
    - name: "Gather IP of server"
      set_fact:
        bench_server_ip: "{{ ansible_default_ipv4.address }}"
      delegate_to: ault_server
      run_once: true
    - debug:
        verbosity: 1
        msg: "Server ip: {{ bench_server_ip}}"
    - name: SendReceive - Bandwith
      include_role:
        name: bench/sendrcv
      vars:
        bench_type: "{{ item[0] }}"
        bench_srq: false
        bench_msg_size: "{{ item[1] }}"
        bench_batch_size: 1
        bench_unack: "{{ item[2] }}"
        bench_output: "sendRcv-bw-batch-size-{{ item[1] }}-unack-{{ item[2] }}-batch-1"
        bench_count: 1048576
      with_nested:
        - ["bw"]
        - [16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384] 
        - [1]


- hosts: ault_runner
  gather_facts: yes
  tags: run, send, bw, send-bw
  tasks:
    - name: "Gather IP of server"
      set_fact:
        bench_server_ip: "{{ ansible_default_ipv4.address }}"
      delegate_to: ault_server
      run_once: true
    - debug:
        verbosity: 1
        msg: "Server ip: {{ bench_server_ip}}"
    - name: SendReceive - Bandwith
      include_role:
        name: bench/sendrcv
      vars:
        bench_type: "{{ item[0] }}"
        bench_srq: false
        bench_msg_size: "{{ item[1] }}"
        bench_batch_size: 1
        bench_unack: "{{ item[2] }}"
        bench_output: "sendRcv-bw-batch-size-{{ item[1] }}-unack-{{ item[2] }}-batch-1"
        bench_count: 1048576
      with_nested:
        - ["bw"]
        - [16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384] 
        - [64]

- hosts: ault_runner
  gather_facts: yes
  tags: run, send, bw, send-bw-thread
  tasks:
    - name: "Gather IP of server"
      set_fact:
        bench_server_ip: "{{ ansible_default_ipv4.address }}"
      delegate_to: ault_server
      run_once: true
    - debug:
        verbosity: 1
        msg: "Server ip: {{ bench_server_ip}}"
    - name: Write
      include_role:
        name: bench/sendrcv
      vars:
        bench_type: "{{ item[0] }}"
        bench_srq: "{{ item[4] }}"
        bench_batch_size: 1
        bench_msg_size: "{{ item[1] }}"
        bench_unack: "{{ item[2] }}"
        bench_conn: "{{ item[3] }}"
        bench_output: "sendRcv-bw{{ item[4] | ternary('-srq', '') }}-batch-size-{{ item[1] }}-unack-{{ item[2] }}-batch-1-conn-{{ item[3] }}"
        bench_count: 1048576
      with_nested:
        - ["bw"]
        - [16, 512, 8192] 
        - [64]
        - [1, 2, 3, 4, 5, 6]
        - [false, true]

- hosts: ault_runner
  gather_facts: yes
  tags: run, send, lat, send-lat
  tasks:
    - name: "Gather IP of server"
      set_fact:
        bench_server_ip: "{{ ansible_default_ipv4.address }}"
      delegate_to: ault_server
      run_once: true
    - debug:
        verbosity: 1
        msg: "Server ip: {{ bench_server_ip}}"
    - name: Write
      include_role:
        name: bench/sendrcv
      vars:
        bench_type: "{{ item[0] }}"
        bench_srq: "{{ item[1] }}"
        bench_msg_size: "{{ item[2] }}"
        bench_conn: 1
        bench_output: "sendRcv-lat-single-size-{{item[2] }}{{ item[1] | ternary('-srq', '') }}"
        bench_count: 2000000
      with_nested:
        - ["pingpong"]
        - [true, false] 
        - [16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384] 
 
- hosts: ault_runner
  gather_facts: yes
  tags: run, send, lat, send-lat-thread
  tasks:
    - name: "Gather IP of server"
      set_fact:
        bench_server_ip: "{{ ansible_default_ipv4.address }}"
      delegate_to: ault_server
      run_once: true
    - debug:
        verbosity: 1
        msg: "Server ip: {{ bench_server_ip}}"
    - name: Write
      include_role:
        name: bench/sendrcv
      vars:
        bench_type: "{{ item[0] }}"
        bench_srq: "{{ item[1] }}"
        bench_msg_size: "{{ item[2] }}"
        bench_conn: "{{ item[3] }}"
        bench_output: "sendRcv-lat-conn-{{ item[3] }}{{ item[1] | ternary('-srq', '') }}"
        bench_count: 10000
      with_nested:
        - ["pingpong"]
        - [true, false] 
        - [16] 
        - [1, 2, 4, 8, 16, 32, 64, 128]
 

- hosts: ault_runner
  gather_facts: yes
  tags: run, write, lat, write-lat
  tasks:
    - name: "Gather IP of server"
      set_fact:
        bench_server_ip: "{{ ansible_default_ipv4.address }}"
      delegate_to: ault_server
      run_once: true
    - debug:
        verbosity: 1
        msg: "Server ip: {{ bench_server_ip}}"
    - name: Write
      include_role:
        name: bench/write
      vars:
        bench_type: "{{ item[0] }}"
        bench_sender: "{{ item[1] }}"
        bench_ack: "{{ item[2] }}"
        bench_unack: "1"
        bench_msg_size: "{{ item[3] }}"
        bench_output: "write-lat-single-size-{{item[3] }}-{{ item[1] }}-ack-{{ item[2] }}"
        bench_count: 1048576
      with_nested:
        - ["pingpong"]
          #- ["writeImm", "writeOff", "writeRev"]
        - ["writeImm"]
        - ["send", "read"]
        - [16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384] 


- hosts: ault_runner
  gather_facts: yes
  tags: run, write, bw, write-bw-param-unack
  tasks:
    - name: "Gather IP of server"
      set_fact:
        bench_server_ip: "{{ ansible_default_ipv4.address }}"
      delegate_to: ault_server
      run_once: true
    - debug:
        verbosity: 1
        msg: "Server ip: {{ bench_server_ip}}"
    - name: Write - Bandwith
      include_role:
        name: bench/write
      vars:
        bench_type: "{{ item[0] }}"
        bench_sender: "{{ item[1] }}"
        bench_ack: "{{ item[2] }}"
        bench_batch_size: 1
        bench_msg_size: "{{ item[3] }}"
        bench_unack: "{{ item[4] }}"
        bench_output: "write-bw-single-size-{{item[3] }}-{{ item[1] }}-ack-{{ item[2] }}-unack-{{ item[4] }}"
        bench_count: 1048576
      with_nested:
        - ["bw"]
          #- ["writeImm", "writeOff", "writeRev"]
        - ["writeImm"]
        - ["send", "read"]
        - [16]
        - [1, 4, 8, 16, 32, 64, 128]

- hosts: ault_runner
  gather_facts: yes
  tags: run, write, bw, write-bw
  tasks:
    - name: "Gather IP of server"
      set_fact:
        bench_server_ip: "{{ ansible_default_ipv4.address }}"
      delegate_to: ault_server
      run_once: true
    - debug:
        verbosity: 1
        msg: "Server ip: {{ bench_server_ip}}"
    - name: Write - Bandwith
      include_role:
        name: bench/write
      vars:
        bench_type: "{{ item[0] }}"
        bench_sender: "{{ item[1] }}"
        bench_ack: "{{ item[2] }}"
        bench_batch_size: 1
        bench_msg_size: "{{ item[3] }}"
        bench_unack: "{{ item[4] }}"
        bench_output: "write-bw-single-size-{{item[3] }}-{{ item[1] }}-ack-{{ item[2] }}-unack-{{ item[4] }}"
        bench_count: 1048576
      with_nested:
        - ["bw"]
          #- ["writeImm", "writeOff", "writeRev"]
        - ["writeImm"]
        - ["send", "read"]
        - [16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384] 
        - [64]

- hosts: ault_runner
  gather_facts: yes
  tags: run, write-atomic, bw, write-atomic-bw-thread
  tasks:
    - name: "Gather IP of server"
      set_fact:
        bench_server_ip: "{{ ansible_default_ipv4.address }}"
      delegate_to: ault_server
      run_once: true
    - debug:
        verbosity: 1
        msg: "Server ip: {{ bench_server_ip}}"
    - name: Write
      include_role:
        name: bench/write_atomic
      vars:
        bench_type: "{{ item[0] }}"
        bench_unack: "2"
        bench_msg_size: "{{ item[1] }}"
        bench_conn: "{{ item[3] }}"
        bench_output: "write-atomic-lat-conn-{{ item[3] }}-{{ item[2] | ternary('-dm', '') }}-size-{{ item[1] }}-unack-{{ item[3] }}"
        bench_count: 1048576
        bench_dm: "{{ item[2] }}"
      with_nested:
        - ["bw"]
          #- [16, 512, 8192] 
        - [8192] 
          #- [true, false] 
        - [false] 
        - [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]


- hosts: ault_runner
  gather_facts: yes
  tags: run, write-atomic, bw, write-atomic-bw
  tasks:
    - name: "Gather IP of server"
      set_fact:
        bench_server_ip: "{{ ansible_default_ipv4.address }}"
      delegate_to: ault_server
      run_once: true
    - debug:
        verbosity: 1
        msg: "Server ip: {{ bench_server_ip}}"
    - name: Write
      include_role:
        name: bench/write_atomic
      vars:
        bench_type: "{{ item[0] }}"
        bench_unack: "{{ item[3] }}"
        bench_msg_size: "{{ item[1] }}"
        bench_output: "write-atomic-lat-single{{ item[2] | ternary('-dm', '') }}-size-{{ item[1] }}-unack-{{ item[3] }}"
        bench_count: 1048576
        bench_dm: "{{ item[2] }}"
      with_nested:
        - ["bw"]
        - [16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384] 
        - [true, false] 
        - [2, 4]

- hosts: ault_runner
  gather_facts: yes
  tags: run, write-atomic, lat, write-atomic-lat
  tasks:
    - name: "Gather IP of server"
      set_fact:
        bench_server_ip: "{{ ansible_default_ipv4.address }}"
      delegate_to: ault_server
      run_once: true
    - debug:
        verbosity: 1
        msg: "Server ip: {{ bench_server_ip}}"
    - name: Write
      include_role:
        name: bench/write_atomic
      vars:
        bench_type: "{{ item[0] }}"
        bench_unack: "1"
        bench_msg_size: "{{ item[1] }}"
        bench_output: "write-atomic-lat-single{{ item[2] | ternary('-dm', '') }}-size-{{item[1] }}"
        bench_count: 1048576
        bench_dm: "{{ item[2] }}"
      with_nested:
        - ["pingpong"]
        - [16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384] 
        - [true, false] 

- hosts: ault_runner
  gather_facts: yes
  tags: run, write-direct, bw, write-direct-bw
  tasks:
    - name: "Gather IP of server"
      set_fact:
        bench_server_ip: "{{ ansible_default_ipv4.address }}"
      delegate_to: ault_server
      run_once: true
    - debug:
        verbosity: 1
        msg: "Server ip: {{ bench_server_ip}}"
    - name: Write
      include_role:
        name: bench/direct_write
      vars:
        bench_type: "{{ item[0] }}"
        bench_unack: "64"
        bench_msg_size: "{{ item[1] }}"
        bench_output: "write-direct-bw-single-size-{{ item[1] }}-unack-64"
        bench_count: 1048576
      with_nested:
        - ["bw"]
        - [16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384] 

- hosts: ault_runner
  gather_facts: yes
  tags: run, write-direct, lat, write-direct-lat
  tasks:
    - name: "Gather IP of server"
      set_fact:
        bench_server_ip: "{{ ansible_default_ipv4.address }}"
      delegate_to: ault_server
      run_once: true
    - debug:
        verbosity: 1
        msg: "Server ip: {{ bench_server_ip}}"
    - name: Write
      include_role:
        name: bench/direct_write
      vars:
        bench_type: "{{ item[0] }}"
        bench_unack: "1"
        bench_msg_size: "{{ item[1] }}"
        bench_output: "write-direct-lat-single-size-{{ item[1] }}"
        bench_count: 1048576
      with_nested:
        - ["pingpong"]
        - [16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384] 

- hosts: ault_runner
  gather_facts: yes
  tags: run, write-direct, bw, write-direct-bw-thread
  tasks:
    - name: "Gather IP of server"
      set_fact:
        bench_server_ip: "{{ ansible_default_ipv4.address }}"
      delegate_to: ault_server
      run_once: true
    - debug:
        verbosity: 1
        msg: "Server ip: {{ bench_server_ip}}"
    - name: Write
      include_role:
        name: bench/direct_write
      vars:
        bench_type: "{{ item[0] }}"
        bench_unack: "64"
        bench_msg_size: "{{ item[1] }}"
        bench_output: "write-direct-bw-conn-{{ item[2] }}-size-{{ item[1] }}-unack-64"
        bench_count: 1048576
        bench_conn: "{{ item[2] }}"
      with_nested:
        - ["bw"]
          #- [16, 512, 8192] 
        - [16, 512] 
          #- [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
        - [13, 14, 15, 16]


- hosts: ault_runner
  gather_facts: yes
  tags: run, write-direct, bw, write-direct-bw-n1
  tasks:
    - name: "Gather IP of server"
      set_fact:
        bench_server_ip: "{{ ansible_default_ipv4.address }}"
      delegate_to: ault_server
      run_once: true
    - debug:
        verbosity: 1
        msg: "Server ip: {{ bench_server_ip}}"
    - name: Write
      include_role:
        name: bench/direct_write
      vars:
        bench_type: "{{ item[0] }}"
        bench_unack: "64"
        bench_msg_size: "{{ item[1] }}"
        bench_output: "write-direct-bw-single-rcv-conn-{{ item[2] }}-size-{{ item[1] }}-unack-64"
        bench_count: 1048576
        bench_conn: "{{ item[2] }}"
        bench_single_rcv: true
      with_nested:
        - ["bw"]
        - [16, 512, 8192] 
        - [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]




- hosts: ault_runner
  gather_facts: yes
  tags: run, read, lat, read-lat
  tasks:
    - name: "Gather IP of server"
      set_fact:
        bench_server_ip: "{{ ansible_default_ipv4.address }}"
      delegate_to: ault_server
      run_once: true
    - debug:
        verbosity: 1
        msg: "Server ip: {{ bench_server_ip}}"
    - name: Read
      include_role:
        name: bench/read
      vars:
        bench_type: "{{ item[0] }}"
        bench_fence: "{{ item[1] }}"
        bench_msg_size: "{{ item[2] }}"
        bench_output: "read-pingpong{{ item[1] | ternary('-fence', '') }}-{{ item[2] }}"
        bench_count: 1000000
      with_nested:
        - ["pingpong"]
        - [true, false] 
        - [16, 32, 64, 128] 
 
- hosts: ault_runner
  gather_facts: yes
  tags: run, read, bw, read-bw
  tasks:
    - name: "Gather IP of server"
      set_fact:
        bench_server_ip: "{{ ansible_default_ipv4.address }}"
      delegate_to: ault_server
      run_once: true
    - debug:
        verbosity: 1
        msg: "Server ip: {{ bench_server_ip}}"
    - name: Read - Bandwith
      include_role:
        name: bench/read
      vars:
        bench_type: "{{ item[0] }}"
        bench_fence: "{{ item[1] }}"
        bench_msg_size: "{{ item[2] }}"
        bench_unack: "{{ item[3] }}"
        bench_output: "read-bw{{ item[1] | ternary('-fence', '') }}-{{ item[2] }}-{{ item[3] }}"
        bench_count: 1000000
      with_nested:
        - ["bw"]
        - [true, false] 
        - [16, 32, 64, 128, 1024, 4096, 8192, 16384]
        - [1, 4, 8, 16, 32, 64, 128]



- hosts: ault.cscs.ch
  tags: always
  tasks:
    - name: Freeing job allocation
      shell:
        cmd: "scancel {{ job_id }}"



