- hosts: ault.cscs.ch
  gather_facts: yes
  tasks:
    - name: Getting available amd hosts..
      shell:
        cmd: sinfo -p amd -t idle -O NodeHost
      register: amd_host_raw
    - set_fact: 
        amd_hosts: "{{ amd_host_raw.stdout_lines[1:] | map('trim') | list }}" 
    - debug: 
        verbosity: 1
        msg: "{{ amd_hosts }}"
    - name: Getting available intel hosts..
      shell:
        cmd: sinfo -p intel -t idle -O NodeHost
      register: intel_host_raw
    - set_fact: 
        intel_hosts: "{{ intel_host_raw.stdout_lines[1:] | map('trim') | list }}"
    - debug: 
        verbosity: 1
        msg: "{{ intel_hosts }}"
    - name: Add server to group
      add_host:
        name: '{{ intel_hosts[0] }}.cscs.ch'
        groups: ault_server
    - name: Add client to group
      add_host:
        name: '{{ intel_hosts[1] }}.cscs.ch'
        groups: ault_client
    - name: Allocating resources..
      shell:
        cmd: "salloc -w {{ intel_hosts[:2] | join(',') }} -t 15 --no-shell"
      register: job_raw
    - debug:
        var: job_raw
    - set_fact: 
        job_id: "{{ job_raw.stderr.split()[-1] }}"

- hosts: ault_runner
  gather_facts: yes
  tags: run, send
  tasks:
    - name: "Gather IP of server"
      set_fact:
        bench_server_ip: "{{ ansible_default_ipv4.address }}"
      delegate_to: ault_server
      run_once: true
    - debug:
        verbosity: 1
        msg: "Server ip: {{ bench_server_ip}}"
    - name: SendReceive - Bandwith
      include_role:
        name: bench/sendrcv
      vars:
        bench_type: "{{ item[0] }}"
        bench_srq: "{{ item[1] }}"
        bench_msg_size: "{{ item[2] }}"
        bench_batch_size: "{{ item[3] }}"
      with_nested:
        - ["bw"]
        - [false]
        - [16, 32, 64, 1024, 4096, 8192]
        - [1, 4, 8, 10, 20, 40, 80, 120]




- hosts: ault_runner
  gather_facts: yes
  tags: run, write, lat
  tasks:
    - name: "Gather IP of server"
      set_fact:
        bench_server_ip: "{{ ansible_default_ipv4.address }}"
      delegate_to: ault_server
      run_once: true
    - debug:
        verbosity: 1
        msg: "Server ip: {{ bench_server_ip}}"
    - name: Write
      include_role:
        name: bench/write
      vars:
        bench_type: "{{ item[0] }}"
        bench_sender: "{{ item[1] }}"
        bench_ack: "{{ item[2] }}"
        bench_msg_size: "{{ item[3] }}"
      with_nested:
        #- ["pingpong", "lat", "bw"]
        - ["pingpong"]
        #- ["write", "writeOff", "writeImm"]
        - ["writeImm"]
        #- ["send", "read"]
        - ["send", "read"]
        #- [16, 32, 64, 1024, 4096, 8192]
        - [16] 
 

- hosts: ault.cscs.ch
  tasks:
    - name: Freeing job allocation
      shell:
        cmd: "scancel {{ job_id }}"



