.clangd/
.cache/
compile_commands.json
.vagrant/

*.o
bin/

*.pdf
*.png

# TeX stuff
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.pdf
*.run.xml
_minted-*
*.toc
*.gz


# Perf stuff
*.data
*.data.old
